name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: 'adopt'
      - name: Verify vulnerabilities with Maven
        working-directory: java
        run: mvn verify
      - name: Package with Maven
        working-directory: java
        run: mvn package
      - name: Create dist
        working-directory: ./python
        run: |
          python -m pip install --upgrade pip build
          pip install .
          python -m build
      - name: Generate GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./python/dist/*"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: python/dist
